body{
    background-color: rgb(0, 0, 0);
}
#div1{
    margin-left:auto;
    margin-right: auto;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #636363;
    width: 50%;
    height: 8%;
    box-shadow: 5px 5px 10px;
    padding: 15px;
    color: rgb(255, 251, 0);
}
a.nav-link{
    text-decoration: none;
    color: #000000;
    
}
#div2{
    font-style: none;
    border: 2px solid #000000;
    border-radius: 5px;
    background-image: url("/Images/potato.jpg");
    width: 50%;
    height: 10%;
    box-shadow: 5px 5px 10px;
    text-align: center;
    font-size: 20pt;
    margin: auto;
    text-decoration: none;
}
#div2:hover{
    border: 2px solid #000000;
    border-radius: 5px;
    background-image: url("/Images/potato.jpg");
    width: 65%;
    height: 10%;
    box-shadow: 5px 5px 10px;
    text-align: center;
    font-size: 20pt;
    margin: auto;
}
#navLink{
    text-decoration: none;
}
#div02{
    border: 2px solid #000000;
    border-radius: 5px;
    background-image: url("/Images/peppa.png");
    width: 50%;
    height: 10%;
    box-shadow: 5px 5px 10px;
    text-align: center;
    font-size: 20pt;
    margin: auto;
}


#div3{
    margin-left: 1%;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #636363;
    width: 99%;
    height: 100%;
    box-shadow: 5px 5px 10px;
}
#div4{
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #636363;
    height: 100%;
    width: 100%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}
#div5{
    background-color: aquamarine;
    border: 1px solid #000000;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#table1{
    width: 98%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}
#td1{
    width: 12%;
}
#td2{
    width: 88%;
    height: 100%;
}
#p1{
    font-size: 25px;
    margin-top: 15px;
}
#p3{
    font-size: 35pt;
    padding: 45px;
}
#td6{
    width: 20%;
    height: 100%;
}
#sportstitle{
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #636363;
    box-shadow: 10px 10px 5px;
    width: 250%;
    height: 12%;
    margin-left: 100%;
    margin-right: auto;
    margin-top: auto;
    color: rgb(255, 251, 0);
}
#navdiv{
    border: 2px solid #000000;
    border-radius: 5px;
    background-image: url("/Images/potato.jpg");
    width: 40%;
    height: 10%;
    box-shadow: 5px 5px 10px;
    text-align: center;
    font-size: 20pt;
    margin-left: auto;
    margin-right: auto;
}
#navdiv:hover{
    border: 2px solid #000000;
    border-radius: 5px;
    background-image: url("/Images/potato.jpg");
    width: 65%;
    height: 10%;
    box-shadow: 5px 5px 10px;
    text-align: center;
    font-size: 20pt;
    margin-left: auto;
    margin-right: auto;
}
#div69{
    border: 2px solid #000000;
    border-radius: 5px;
    background-image: url("/Images/peppa.png");
    width: 40%;
    height: 10%;
    box-shadow: 5px 5px 10px;
    text-align: center;
    font-size: 20pt;
    margin: auto;
}
#h{
    left: 100px;
    top: 100px;
}